@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
@theme {
  --font-*: initial;
  --font-sans: "Inter", "sans-serif";
}
body {
  width: 80%;
  margin: 0 auto;
}
